/* 

	"dashboard_menu" is an extension of message

	"d_box" is an extension of button

*/

.main_box > * .d_box, .main_box > * .dashboard_menu
{
	/* base size of this thing (size can be extended from here but can't compressed) */
	width: 18em;
	/* these element will have slightly bigger size than message or button */
}

.main_box > * .dashboard_menu
{
	padding: .5em;
	display: flex;	/* to properly align the progress bar */
	white-space: nowrap;
	flex-direction: column;
}

.dashboard_menu > span
{
	text-align: center;
}