
/* changing some attributes of main_box */

.main_box
{
	max-width: 95%;
	width: 100%;
	box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.399);
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.main_box > * .button, .main_box > * .message
{
	text-align: center;
	width: 15em;
}

form
{
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
}

/* this indicates past quiz */

.previous_box
{
	box-shadow: 1px 1px 5px -1px rgba(255, 0, 0, 0.6);
}

/* this indicates current quiz */

.current_box
{
	box-shadow: 1px 1px 5px -1px rgba(0, 255, 0, 0.6);
}

/* this indicates upcoming quiz */

.next_box
{
	box-shadow: 1px 1px 5px -1px rgba(0, 0, 255, 0.6);
}

/* making message look softer with a nice shadow */

.main_box > * .message
{
	box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.1);
	border: none;
}

/* used to display the answer */

.main_box > * .error
{
	text-align: center;
	box-shadow: none;
}

.main_box > * .button
{
	border: none;
}