
/* enabling touch action for index pages */

:root
{
	touch-action: manipulation;
}

/* changing some attributes of main_box */

.main_box
{
	width: 95%;
	padding: 1em;
	box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.3);
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/* for list we want to have buttons and messages of perticular size */

.main_box > * .button, .main_box > * .message
{
	/* text-align: center; */
	/* base size of this thing (size can be extended from here but can't compressed) */
	width: 15em;
}

/* making message look softer with a nice shadow */

.main_box > * .message
{
	box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.1);
	border: none;
}

/* used to display the answer */

.main_box > * .error
{
	text-align: center;
	box-shadow: none;
}

.main_box > * .button
{
	border: none;
	box-shadow: 0px 0px 5px -1px rgba(0, 0, 0, 0.1);
}

.main_box > * .greenbutton, .main_box > * .redbutton, .main_box > * .bluebutton, .main_box > * .whitebutton
{
	background-color: white;
}

.red_box, .main_box > * .redbutton
{
	box-shadow: 0px 0px 5px -1px rgba(255, 0, 0, 0.6);
}

.green_box, .main_box > * .greenbutton
{
	box-shadow: 0px 0px 5px -1px rgba(0, 140, 0, 0.8);
}

.blue_box, .main_box > * .bluebutton
{
	box-shadow: 0px 0px 5px -1px rgba(0, 0, 204, 0.8);
}

.red_text
{
	color: rgba(255, 0, 0, 0.6);
}

.green_text
{
	color: rgba(0, 140, 0, 0.8);
}

.blue_text
{
	color: rgba(0, 0, 204, 0.8);
}