
/* changing some attributes of main_box */

.main_box
{
	max-width: 95%;
	width: 100%;
	padding: 1em;
	box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.399);
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.main_box > * .button, .main_box > * .message
{
	/* text-align: center; */
	width: 15em;
}

/* this indicates past quiz */

.red_box
{
	box-shadow: 1px 1px 5px -1px rgba(255, 0, 0, 0.6);
}

/* this indicates current quiz */

.green_box
{
	box-shadow: 1px 1px 5px -1px rgba(0, 255, 0, 0.6);
}

/* this indicates upcoming quiz */

.blue_box
{
	box-shadow: 1px 1px 5px -1px rgba(0, 0, 255, 0.6);
}

/* making message look softer with a nice shadow */

.main_box > * .message
{
	box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.1);
	border: none;
}

/* used to display the answer */

.main_box > * .error
{
	text-align: center;
	box-shadow: none;
}

.main_box > * .button
{
	border: none;
	box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.1);
}

.main_box > * .greenbutton, .main_box > * .redbutton, .main_box > * .bluebutton, .main_box > * .whitebutton
{
	background-color: white;
}

.main_box > * .greenbutton
{
	box-shadow: 1px 1px 5px -1px rgba(0, 255, 0, 0.6);
}

.main_box > * .redbutton
{
	box-shadow: 1px 1px 5px -1px rgba(255, 0, 0, 0.6);
}

.main_box > * .bluebutton
{
	box-shadow: 1px 1px 5px -1px rgba(0, 0, 255, 0.6);
}